body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-79px;
  width:548px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:65px;
  width:44px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:-webkit-linear-gradient(1.00000000000006deg, rgba(255, 139, 0, 1) 0%, rgba(255, 139, 0, 1) 0%, rgba(255, 114, 0, 1) 47%, rgba(255, 84, 0, 1) 100%, rgba(255, 84, 0, 1) 100%);
  background:-moz-linear-gradient(88.9999999999999deg, rgba(255, 139, 0, 1) 0%, rgba(255, 139, 0, 1) 0%, rgba(255, 114, 0, 1) 47%, rgba(255, 84, 0, 1) 100%, rgba(255, 84, 0, 1) 100%);
  background:linear-gradient(88.9999999999999deg, rgba(255, 139, 0, 1) 0%, rgba(255, 139, 0, 1) 0%, rgba(255, 114, 0, 1) 47%, rgba(255, 84, 0, 1) 100%, rgba(255, 84, 0, 1) 100%);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u81.selected {
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:65px;
  width:44px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u82.selected {
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:65px;
  width:44px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:-webkit-linear-gradient(1.00000000000006deg, rgba(255, 139, 0, 1) 0%, rgba(255, 139, 0, 1) 0%, rgba(255, 114, 0, 1) 47%, rgba(255, 84, 0, 1) 100%, rgba(255, 84, 0, 1) 100%);
  background:-moz-linear-gradient(88.9999999999999deg, rgba(255, 139, 0, 1) 0%, rgba(255, 139, 0, 1) 0%, rgba(255, 114, 0, 1) 47%, rgba(255, 84, 0, 1) 100%, rgba(255, 84, 0, 1) 100%);
  background:linear-gradient(88.9999999999999deg, rgba(255, 139, 0, 1) 0%, rgba(255, 139, 0, 1) 0%, rgba(255, 114, 0, 1) 47%, rgba(255, 84, 0, 1) 100%, rgba(255, 84, 0, 1) 100%);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u83.selected {
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:96px;
  width:548px;
  height:53px;
}
#u84_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:48px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:48px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:48px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:0px;
  width:72px;
  height:48px;
  display:flex;
  font-family:'黑体 Bold', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:7px;
  width:395px;
  height:34px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87.disabled {
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:11px;
  width:33px;
  height:28px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u84_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:48px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:455px;
  height:48px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:48px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:72px;
  height:48px;
  display:flex;
  font-family:'黑体 Bold', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u91_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:7px;
  width:395px;
  height:34px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91.disabled {
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:11px;
  width:33px;
  height:28px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u84_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:48px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:48px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:48px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:0px;
  width:72px;
  height:48px;
  display:flex;
  font-family:'黑体 Bold', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:7px;
  width:395px;
  height:34px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95.disabled {
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:11px;
  width:33px;
  height:28px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
